

<div class ="move2">

<div class = "show-cards">

	<div class = "containter">

	<h1> LET'S FIND THE PERFECT CARD FOR YOU </h1>
	<h2> HERE ARE 5 SIMPLE QUESTIONS </h2>

<p> 

	<div class="row-fluid">

	<div class="span2">
	test
	</div>	

	<div class = "span10">

<% @cards.each do |card| %>
	<%= card.name %>

<% end %>

	</div>
	</div>



</p>
</div>

</div>