
<% provide(:title, 'About') %>

<div class ="move2">

<div class = "show-cards">

	<div class = "container-fluid">



	<h1> ABOUT </h1>

	<div class="row-fluid">

	<div class = "span6">
		<h1><b>An opportunity to learn and inform.</h1> <h2>
	I created this site to help inform and enlighten an often times conflated process
	of individually researching credit card options. </br></br>

	Points. Travel. Cash Back. These are just several of the benefits attached to credit and
	charge cards, and yet no third party sites clearly articulate the prescribed option for you.
	</br></br>
	Instead, you must sort through targeted promos and cluttered sites, rather than pick based on features and benefits
	that make sense to you. This site aims to change that.


	 </h2> 

	</div>
</div>
</div>

</div>