
<% provide(:title, 'Home') %>


	<div class = "move2">
	

  <div class = "card-bg" > 



  <h1>NO MORE CONFUSION.<br />  FIND THE RIGHT CARD.</h1><br />





  	  <%= form_for(@user) do |f| %>

   		<%= render 'shared/error_messages' %>


      <%= f.text_field :email, size: 10, placeholder: "ENTER YOUR EMAIL TO TRY IT OUT" %>


      <%= f.submit "PICK THE CARD YOU ACTUALLY WANT", class: "btn-custom" %>
    <% end %>

  	
 
 </div>

  <div class = "login-bg" <p> Already registered? Log in here </p> 


</div>
</div>
