
<% provide(:title, 'Home') %>

<div class="center hero-unit">
	<h1>Welcome to the Ernest</h1>
	<h2>
		This is the home page for the
		<b>Ernest</b>
		Project.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<div class="row-fluid">
  <div class="span4">This area is the column on the left and is this long. It should not get any longer</div>
  <div class="span8">...</div>
</div>
	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
