<footer class="footer">
      <ul>
      <li><a href="/" alt="About Lot18">Home</a></li>
      <li><a href="/contactus" alt="Contact Lot18">About</a></li>
      <li><a href="/privacy" alt="Privacy Policy">FAQ</a></li>
    </ul>

</footer>